--color
--profile
--order defined

config.backtrace_exclusion_patterns = [%r{/home/ericp/.rvm/gems/ruby-1.9.3-p551/gems/rspec},
%r{/home/ericp/.rvm/gems/ruby-1.9.3-p551/gems/sequel},
%r{/home/ericp/.rvm/gems/ruby-1.9.3-p551/bin/ruby_executable_hooks},
]
