---
local_route: 127.0.0.1
port: 8181
instance_socket: "/var/stackato/sys/run/cloud_controller_ng/cloud_controller.sock"
pid_filename: /tmp/cloud_controller.pid

# development_mode: true

message_bus_servers:
  - nats://127.0.0.1:4222

external_port: 8181
external_domain: api.vcap.me

bootstrap_admin_email: stackato@stackato.com

# Not creating default org-- done by first user setup (disabled in 67a488b98c)
#system_domain_organization: my-org-name

external_protocol: http
external_domain: api2.vcap.me

system_domain: vcap.me
app_domains:
  - vcap.me

jobs:
  global:
    timeout_in_seconds: 14400

app_events:
  cutoff_age_in_days: 31

app_usage_events:
  cutoff_age_in_days: 31

audit_events:
  cutoff_age_in_days: 31

failed_jobs:
  cutoff_age_in_days: 31

billing_event_writing_enabled: true

default_app_memory: 1024 #mb
default_app_disk_in_mb: 1024
maximum_app_disk_in_mb: 2048

info:
  name: "stackato"
  build: "2222"
  version: 2
  support_address: "stackato-support@activestate.com"
  description: "ActiveState Stackato"
  api_version: "2.0.0"

nginx:
  use_nginx: false

stackato_upload_handler:
  enabled: true

logging:
  level: debug

loggregator:
  router: "127.0.0.1:3456"
  shared_secret: "loggregatorsecret"
  url: "ws://loggregator.vcap.me:80"

db:
  database:
    host: localhost
    port: 5432
    user: postgres
    password: root
    adapter: postgres
    database: cloudcontroller
  max_connections: 32
  pool_timeout: 10

uaa:
  url: "http://localhost:8080/uaa"
  resource_id: "cloud_controller"
  symmetric_secret: "tokensecret"
  new_user_strategy: global
  new_user_strategies:
    individual:
      space_name: "default"
      quota_name: "default"
      space_role: "developer"
      organization_role: "user"

cc_partition: ng

max_time_in_cache: 5d

bulk_api:
  auth_user: bulk_user
  auth_password: bulk_password

# App staging parameters
staging:
  # Max duration for staging process
  max_staging_runtime: 480 # secs
  timeout_in_seconds: 480 # secs
  minimum_staging_memory_mb: 1024
  minimum_staging_disk_mb: 4096
  num_repeated_tries: 10
  time_between_tries: 3 # secs
  
  # Check zipfiles for oversize files before unzipping them.
  # This streams zipfiles, counting the bytes of each file, because
  # zipfiles created without the zip64 extensions truncate the size field
  # in the directory to the low 32 bits.
  # https://bugs.activestate.com/show_bug.cgi?id=102802
  check_zipfile_actual_contents_size: true
  
  auth:
    user: placeholder
    password: placeholder

quota_definitions:
  default:
    memory_limit: 2048
    total_services: 100
    non_basic_services_allowed: true
    total_routes: 1000
    trial_db_allowed: true
    allow_sudo: false

default_quota_definition: default

resource_pool:
  resource_directory_key: "cc-resources"
  fog_connection:
    provider: Local
    local_root: /home/stackato/stackato/data/

packages:
  app_package_directory_key: "cc-packages"
  fog_connection:
    provider: Local
    local_root: /home/stackato/stackato/data/

droplets:
  droplet_directory_key: cc-droplets
  fog_connection:
    provider: Local
    local_root: /home/stackato/stackato/data/

buildpacks:
  buildpack_directory_key: cc-buildpacks
  fog_connection:
    provider: Local
    local_root: /home/stackato/stackato/data/

db_encryption_key: "placeholder"

trial_db:
  guid: "78ad16cf-3c22-4427-a982-b9d35d746914"

app_logs_redis:
  host: 127.0.0.1
  port: 6464

ephemeral_redis:
  host: 127.0.0.1
  port: 6379

# App stores
app_store:
  default_icon: http://get.stackato.com/store/icon/default.png
  stores:
    activestate-apps:
      content_url: http://get.stackato.com/store/3.4/activestate-apps.yaml
      enabled: true
    drupal-distro:
      content_url: http://get.stackato.com/store/3.4/drupal-distro.yaml
      enabled: true
    third-party-apps:
      content_url: http://get.stackato.com/store/3.4/third-party-apps.yaml
      enabled: true

allowed_repos:
  - "deb mirror://mirrors.ubuntu.com/mirrors.txt precise main restricted universe multiverse"
  - "deb mirror://mirrors.ubuntu.com/mirrors.txt precise-updates main restricted universe multiverse"
  - "deb http://security.ubuntu.com/ubuntu precise-security main universe"

app_uris:
  # Allow applications to register URIs that are outside your domain.
  reserved_list: []
  reserved_length: 2
#  reserved_file:

maintenance_mode: false

# Maximum number of drains for any app.
max_drains_per_app: 2

# Mark services inactive if they have not updated within the time period (s)
service_activity_timeout: 120

autoscaling:
  enabled: false
  config_file: /s/etc/autoscaling/autoscaling.yaml

hm9000_noop: true

varz_port: 7800
varz_user: varz
varz_password: password

maximum_health_check_timeout: 180

flapping_crash_count_threshold: 3

disable_custom_buildpacks: false
broker_client_timeout_seconds: 60

droplets_to_keep: 5

uaa_client_name: 'cc-service-dashboards'
uaa_client_secret: 'some-sekret'
uaa_client_scope: openid,cloud_controller_service_permissions.read

diego: false

max_inline_relationships: 500
renderer:
  max_results_per_page: 100
  default_results_per_page: 50
  max_inline_relations_depth: 3

install_buildpacks:
  - name: java_buildpack
    package: buildpack_java
  - name: ruby_buildpack
    package: buildpack_ruby
  - name: node_buildpack
    package: buildpack_node

security_group_definitions:
- name: dummy1
  rules: []
- name: dummy2
  rules: []

default_staging_security_groups:
- dummy3
default_running_security_groups:
- dummy4

